body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(206, 199, 199);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  outline: none;
  border: none
}

.App{
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
  height: calc(100vh  - 2px);
}

.wrapper  {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    
}
.site-bar {
  height: 100vh;
  overflow: hidden;
}
.main__page {
  text-align: center;
}

.startApp {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100px );
}

.item__link   {
  text-decoration: none;
  font-size: 32px;
  display: block;  
  margin-top: 10px;
  color: black;
  cursor: pointer;
}

.site__bar  {
  margin-top: 10px;
}

.desc  {
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
}

.new__project {
  margin-top: 50px;
  border-radius: 30px;
  background-color: rgb(174, 80, 80);
  padding: 16px 42px;
  cursor: pointer;
  color: white;
  font-size: 24px;
  letter-spacing: 1px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0, 0.7);
  text-align: center;
  display: none;
  z-index: 100;
}

.modal__body {
  min-height: 100px;
  width: 40vw;
  border-radius: 10px;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 50px;
}

.open {
  display: block;
}

.form__postcard {
  width: 100%;
  height: 30px;
  position: relative;
  top: -10px;
  padding-left: 10px;
}


.buttons__create__postcard {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 10px 0;
}

.cancel {
  background-color: red;
  color: white;
  padding: 10px 50px;
  border-radius: 20px;
  cursor: pointer;
}

.create {
  background-color: green;
  color: white;
  padding: 10px 50px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}
.postcard {
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;

}

.postcard img {
  width: 100%;
  height: 100%;
  
}

.work__zone {
  display: flex;
  text-align: right;
  justify-self: center;
  margin-left: 100px;
}

.theme__page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}


.theme__img {
  height: 300px;
  position: relative;

}

.theme__img input {
  position: absolute;
  top: 10px;
  right: 10px;
}

.theme__img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.setting {
  margin: 23px 0 35px 0;
}

.setting__theme {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -110%;
  left: 0;
  background-color: white;
  height: 100vh;
  width: calc(100% - 40px);
  padding: 5px 20px;
  transition: 1s;
}

.active   {
  top: 0%
}

.checkbox {
  appearance: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid;
  cursor: pointer;
  position: relative;
}

.checkbox:checked:before {
  content: '✓';
  font-size: 18px;
  font-weight: 900;
  color: green;
  position: absolute;
  top: -2px;
  left: 4px
}

.set__theme {
  max-width: 500px; 
  margin-right: 30px;
  margin-left: 50px;
}

.column_1, .column_2, .column_3 {
  height: 100vh;
  transition: 500ms;
}

.column_2 {
  text-align: center;
}

.text-form_area {
  resize: none;
  width: 250px;
  height: 200px;
}

.text-form {
  width: 250px;
  height: 20px;
  margin-top: 7px;
}

.postcard_text {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  cursor: grab;
  max-width: 500px;

}

.settingText {
  min-height: 100px;
  width: 100%;
  background-color: white;
  margin-top: -10px;
}

.settingText__body {
  display: flex;

  justify-content: space-around;
  margin-top: -25px;
}

.back-btn {
  height: 20px;
  align-self: center;
  margin-right: 5px;
  font-size: 17px;
  background-color: transparent;
  cursor: pointer;
}
.setting img {
  transition: 1s;
  cursor: pointer;
}
.setting img:hover {
  transform: rotate(-150deg);
}